
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
  font-family: "Inter", sans-serif;
};

.about ul{
    list-style-type: disc;
}

.rmv{
    display: none;
}

.active{
    background-color: #15803D;
    color: white;
}

/* Mobile Responsiveness... */

@media (max-width: 767px){

    /* Navbar Styles... */
    .mobile_menu{
        background-color: #15803D;
    }
    .logo{
        margin-left: 0px;
    }
    .nav_btn{
        margin-right: 40px;
        width: 150px;
    }

    /* Hero Section... */
    .hero{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .leaf{
        display: none;
    }
    .hero h2{
        font-size: 28px;
    }

    /* Choose your tree section... */
    .choose_tree{
        display: grid;
        grid-template-columns: 1fr;
        width: 310px;
    }
    .choose_tree_cart{
        display: grid;
        grid-template-columns: 1fr;
    }

    .tree_cart_btn{
        width: 230px;
    }

    /* About Section... */
    .about{
        width:310px ;
    }
    .about div{
        flex-direction: column;
    }
    .about p{
        margin-top: 30px;
    }
    .about_txt{
        width: 300px;
    }
    /* Impact Section... */
    .impact{
        flex-direction: column;
    }

    /* Plant tree Section... */
    form{
        width: 320px;
    }

    form input, a, select {
        width: 270px;
    }
}